<div class="col-sm-9 col-sm-offset-3 col-md-8 col-md-offset-2 main" 
     ng-include src="'home/patient-search/patient-search-form.tpl.html'" 
     data-ng-show="sokVisible"></div>
<div class="col-sm-9 col-sm-offset-3 col-md-8 col-md-offset-2 main">
    <h2 class="sub-header">
        {{ 'home.AVLEVERINGER' | translate }}
        <small>
            {{ 'home.FOR' | translate }} {{ virksomhet.foretaksnavn }} &#x2F {{ valgtAvtale.avtalebeskrivelse }}
        </small>
        <button class="right btn btn-success" data-ng-click="actionLeggTilAvlevering()" data-ng-show="valgtAvtale"
                data-access-level-admin>
            {{ 'common.ADD' | translate }}
        </button>
    </h2>
    <div class="table-responsive">
        <table class="table table-striped" ts-wrapper>
            <thead>
            <tr>
                <th ts-criteria="avleveringsidentifikator">{{ 'common.table.ID' | translate }}</th>
                <th ts-criteria="arkivskaper">{{ 'common.table.ARKIVSKAPER' | translate }}</th>
                <th ts-criteria="avleveringsbeskrivelse">{{ 'common.table.BESKRIVELSE' | translate }}</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr data-ng-repeat="avlevering in avleveringer" ts-repeat>
                <td>{{ avlevering.avleveringsidentifikator }}</td>
                <td>{{ avlevering.arkivskaper.name }}</td>
                <td>{{ avlevering.avleveringsbeskrivelse }}</td>
                <td>
                    <button class="icon favorite" data-ng-click="actionSettDefaultAvlevering(avlevering)"
                            favorite-class avlevering="avlevering"
                            tooltip="{{ text.tooltip.favorite }}"></button>
                    <button class="icon icon-padding-left icon-list" data-ng-click="actionShowTransfer(avlevering)"
                            tooltip="{{ text.tooltip.list }}"></button>
                    <button class="icon icon-padding-left icon-add-journal" ng-hide="avlevering.laast"
                            data-ng-click="actionCreateNewMedicalRecord(avlevering)"
                            tooltip="{{ text.tooltip.add }}"></button>
                    <button class="icon icon-padding-left icon-folder"
                            data-ng-click="actionAvleveringLeveranse(avlevering)"
                            tooltip="{{ text.tooltip.folder }}" data-access-level-admin></button>
                    <button class="icon icon-padding-left icon-edit" ng-hide="avlevering.laast"
                            data-ng-click="actionEndreAvlevering(avlevering)"
                            tooltip="{{ text.tooltip.endre }}" data-access-level-admin></button>
                    <button class="icon icon-padding-left icon-delete"
                            data-ng-click="actionFjernAvlevering(text.avlevering, 
                            avlevering.avleveringsidentifikator, avlevering)"
                            tooltip="{{ text.tooltip.deleteElement }}"
                            data-ng-show="avlevering.kanSlettes" data-access-level-admin></button>
                    <button ng-hide="avlevering.laast" class="icon icon-padding-left icon-unlock"
                            data-ng-click="actionLockTransfer(avlevering)"
                            tooltip="{{ text.tooltip.laas }}" data-access-level-admin></button>
                    <button ng-hide="!avlevering.laast" class="icon icon-padding-left icon-lock"
                            data-ng-click="actionUnlockTransfer(avlevering)"
                            tooltip="{{ text.tooltip.laast }}" data-access-level-admin></button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>