
variables:
  vmImage: 'ubuntu-latest'
  javaHome: 'JDKVersion'
  mavenOptions: '-Xmx3072m'
  jdkVersion: '1.8'
  pomFilePath: 'pom.xml'

stages:
### BUILD ###
- stage: Build
  jobs:
# COMPILE
  - job: compile
    displayName: compile
    pool: 
      vmImage: $(vmImage)
    steps:
    - task: Maven@3
      displayName: maven compile
      inputs:
        mavenPomFile: $(pomFilePath)
        mavenOptions: $(mavenOptions)
        javaHomeOption: $(javaHome)
        jdkVersionOption: $(jdkVersion)
        publishJUnitResults: false
        goals: 'compile'
# TEST
  - job: test
    displayName: test
    dependsOn:
      - compile
    condition: and(succeeded(), ne(variables['SKIP_TESTS'], 'true'))
    pool:
      vmImage: $(vmImage)
    steps:
    - task: Maven@3
      displayName: maven test
      inputs:
        mavenPomFile: $(pomFilePath)
        mavenOptions: $(mavenOptions)
        javaHomeOption: $(javaHome)
        jdkVersionOption: $(jdkVersion)
        jdkArchitectureOption: 'x64'
        publishJUnitResults: false
        # Exclude the 'tjeneste' module from testing
        goals: 'test  -pl !tjeneste'
### STAGING ###
- stage: Staging
  dependsOn: Build
  condition: and(succeeded(), eq(variables['Build.SourceBranchName'], 'dev'))
  jobs:
  - job: package_and_stage
    displayName: package and stage
    pool:
      vmImage: $(vmImage)
    steps:
    - task: Maven@3
      displayName: maven package
      inputs:
        mavenPomFile: $(pomFilePath)
        mavenOptions: $(mavenOptions)
        javaHomeOption: $(javaHome)
        jdkVersionOption: $(jdkVersion)
        publishJUnitResults: false
        goals: package
    - task: CopyFiles@2
      inputs:
        sourceFolder: $(Agent.BuildDirectory)
        TargetFolder: $(Build.ArtifactStagingDirectory)

    - task: PublishBuildArtifacts@1
      inputs:
        PathtoPublish: $(Build.ArtifactStagingDirectory)
        ArtifactName: 'nhareg_artifact'