<!DOCTYPE html>
<html ng-app="nha" ng-controller="AppCtrl">
  <head>
    <title>{{ 'common.APP_TITTEL' | translate }}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">

    <!-- compiled CSS --><% styles.forEach( function ( file ) { %>
    <link rel="stylesheet" type="text/css" href="<%= file %>" /><% }); %>

    <!-- compiled JavaScript --><% scripts.forEach( function ( file ) { %>
    <script type="text/javascript" src="<%= file %>"></script><% }); %>
  </head>
  <body>
    <div ui-view="main">
    </div>
  </body>
</html>
