<div class="modal-header">
    <h3 class="modal-title">{{'modal.legg_til.TITTEL_AVLEVERING' | translate}}</h3>
</div>

<div class="modal-body">
    <form>
        <div class="form-group">
            <label>{{ 'common.table.AVLEVERING_ID' | translate }}</label>
            <input type="text" class="form-control" ng-model="formData.avleveringsidentifikator" data-ng-show="!erEndring">
            <p data-ng-show="erEndring">{{formData.avleveringsidentifikator}}</p>
            <label class="label-error" data-ng-show="formData.error.avleveringsidentifikator">{{formData.error.avleveringsidentifikator}}</label>
        </div>
        <div class="form-group">
            <label>{{ 'common.table.ARKIVSKAPER' | translate }}</label>
            <select class="form-control" data-ng-model="formData.arkivskaper" ng-options="item.kode as (item.kode + ' - ' + item.navn) for item in allArchiveAuthors">
                <option value="" disabled selected>Velg arkivskaper...</option>
            </select>
        </div>
        <div class="form-group">
            <label>{{ 'common.table.AVLEVERING_BESKRIVELSE' | translate }}</label>
            <input type="text" class="form-control" ng-model="formData.avleveringsbeskrivelse">
            <label class="label-error" data-ng-show="formData.error.avleveringsbeskrivelse">{{formData.error.avleveringsbeskrivelse}}</label>
        </div>
        <div class="form-group">
            <label>{{ 'common.table.STORAGE_UNIT_FORMAT' | translate }}</label>
            <input type="text" class="form-control" ng-model="formData.lagringsenhetformat">
            <label class="label-error" data-ng-show="formData.error.lagringsenhetformat">{{formData.error.lagringsenhetformat}}</label>
        </div>
        <button type="submit" data-ng-show="false" data-ng-click="ok()"/>
    </form>
</div>

<div class="modal-footer">
    <button class="btn btn-default btn-primary" ng-click="ok()">{{'common.OK' | translate}}</button>
    <button class="btn btn-default btn-danger" ng-click="avbryt()">{{'common.CANCEL' | translate}}</button>
</div>