<nav class="navbar navbar-fixed-top">
    <div class="navbar-header row">
        <a class="navbar-brand" href="" data-ng-click="navHome()">{{ 'common.APP_TITLE' | translate }}</a>
        <div style="padding-top: 15px; padding-bottom: 15px; padding-right:15px">
            <a class="pull-right" disabled>{{ 'common.USER' | translate }}: {{ username }}</a>
        </div>
    </div>
</nav>

<div class="content">
    <div class="container-fluid">
        <div class="row">

            <!-- Avtaleliste -->
            <div class="col-sm-3 col-md-2 sidebar">
                <small> {{ 'home.VIRKSOMHET' | translate }} {{ virksomhet.navn}}</small>
                <h4>
                    {{ 'home.AVTALER' | translate }}
                    <button class="right btn btn-small btn-success" data-ng-click="actionLeggTilAvtale()" data-access-level-admin>{{
                        'common.ADD' | translate }}
                    </button>
                </h4>

                <ul class="nav nav-sidebar">
                    <li data-ng-repeat="avtale in avtaler"
                        data-ng-click="setValgtAvtale(avtale)"
                        data-ng-class="{ active: valgtAvtale.avtaleidentifikator === avtale.avtaleidentifikator}">
                        <a href="">
                            <button class="icon icon-edit" data-ng-click="actionEndreAvtale(avtale)"
                                    tooltip="{{text.tooltip.endr}}" data-access-level-admin></button>
                            <button class="icon icon-delete icon-padding-right"
                                    data-ng-click="actionDeleteAvtale(text.avtale, avtale.avtaleidentifikator, avtale)"
                                    tooltip="{{text.tooltip.deleteElement}}"
                                    data-ng-show="valgtAvtale.avtaleidentifikator === avtale.avtaleidentifikator && avleveringer.length === 0" data-access-level-admin>
                            </button>
                            {{ avtale.avtalebeskrivelse }}
                        </a>
                    </li>
                </ul>

                <!--TODO adminfunksjon -->
                <div class="row padding-bottom">
                    <ul class="nav nav-sidebar">

                        <li data-ng-class="{ active: sokVisible}" data-access-level-admin>
                            <a href="#/">{{'home.PASIENTSOK' | translate}}</a>
                        </li>
                        <li data-ng-class="{ active: lagringsenheterVisible}" data-access-level-admin>
                            <a href="#/lagringsenheter">{{'home.LAGRINGSENHETER' | translate }}</a>
                        </li>
                        <li data-ng-class="{ active: brukereVisible}" data-access-level-admin>
                            <a href="#/brukere">{{'home.BRUKERADMIN' | translate }}</a>
                        </li>
                        <li>
                            <a href data-ng-click="endrePassord()">{{'home.brukere.ENDRE_PASSORD' | translate }}</a>
                        </li>
                    </ul>
                </div>

                <button class="btn btn-default" data-ng-click="loggUt()">Logg ut</button>
            </div>

            <div ng-include src="'home/patient-search/patient-search.tpl.html'" data-ng-show="sokVisible"></div>
            <div ng-include src="'home/storage-units/storage-units.tpl.html'" data-ng-show="lagringsenheterVisible && userrole === 'admin'"></div>
            <div ng-include src="'home/user-admin/user-admin.tpl.html'" data-ng-show="brukereVisible && userrole === 'admin'"></div>

        </div>
    </div>
</div>
