<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <a href="#/" class="btn btn-default">{{'home.TILBAKE' | translate }}</a>
    <h2>{{ 'home.ADM_BRUKERE' | translate }}</h2>
    <br>
    <br>

    <div class="row">
        <div class="span span2 panel panel-default">
            <div class="panel-heading">Brukere</div>
            <div class="panel-body">
                <div class="sokeresultat-wrapper">
                    <table class="table" ts-wrapper>
                        <thead>
                        <tr>
                            <th ts-criteria="brukernavn">{{ 'common.table.BRUKERNAVN' | translate }}</th>
                            <th ts-criteria="rollenavn">{{ 'common.table.ROLLENAVN' | translate }}</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr data-ng-repeat="bruker in brukere" ng-class="{'sokeresultat-selected':$index == selectedRow}" ng-click="setClickedRow($index)" ts-repeat>
                            <td>{{ bruker.brukernavn }}</td>
                            <td>{{ bruker.rollenavn }}</td>
                            <td>
                                <button class="icon icon-padding-left icon-edit"
                                        data-ng-click="velgBruker(bruker)"
                                        tooltip="{{'home.brukere.tooltip.ENDRE_BRUKER' | translate}}"></button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="span span5 padding-bottom">
                    <label>&nbsp;</label>
                    <button class="form-control btn btn-primary" type="submit" data-ng-click="hentBrukere()">{{ 'home.brukere.HENT' | translate }}</button>
                </div>
            </div>
        </div>
    </div>
    <form class="row input-group form-group">
        <div class="row">
            <div class="span span4 padding-bottom">
                <label>{{'home.brukere.EPOST' | translate}}</label>
                <input type="text" data-ng-model="bruker.epost" class="form-control" placeholder="E-post">
            </div>
        </div>
        <div class="row">
            <div class="span span4 padding-bottom">
                <label>{{'home.brukere.ROLLE' | translate}}</label>
                <select class="form-control" data-ng-model="bruker.rolle" ng-options="rolle as rolle.navn for item in roller">
                    <option value="" disabled selected>Rolle...</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="span span4 padding-bottom">
                <label>{{'home.brukere.PASSORD' | translate}}</label>
                <input type="password" data-ng-model="bruker.passord" class="form-control" placeholder="Passord">
                <input type="checkbox" data-ng-model="bruker.nyttpassord">
                    {{ 'home.brukere.NYTTPASSORD' | translate }}
                </label>
            </div>
        </div>
        <div class="span span5 padding-bottom">
            <label>&nbsp;</label>
            <button class="form-control btn btn-primary" type="submit" data-ng-click="oppdaterBruker()">{{ 'home.brukere.LAGRE' | translate }}</button>
        </div>
    </form>

</div>