<nav class="navbar navbar-fixed-top">
    <div class="navbar-header">
      <a class="navbar-brand" href="" data-ng-click="navHome()">{{ 'common.APP_TITTEL' | translate }}</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a class="loggut" href="" data-ng-click="navLoggut()">{{ 'login.LOGG_UT' | translate }}</a></li>
      </ul>
  </div>
</nav>

<div class="content">
<div class="container-fluid">
  <div class="row">
    <!-- Avtaleliste -->
    <div class="col-sm-3 col-md-2 sidebar">
      <h4>
        {{ 'home.AVTALER' | translate }}
        <button class="right btn btn-small btn-success" data-ng-click="actionLeggTilAvtale()">{{ 'common.LEGG_TIL' | translate }}</button>
      </h4>
      <ul class="nav nav-sidebar">
        <li data-ng-repeat="avtale in avtaler"
            data-ng-click="setValgtAvtale(avtale)"
            data-ng-class="{ active: valgtAvtale.avtaleidentifikator === avtale.avtaleidentifikator}">
            <a href="">
              <button class="icon icon-edit" data-ng-click="actionEndreAvtale(avtale)" tooltip="{{text.tooltip.endr}}"></button>
              <button class="icon icon-delete icon-padding-right" data-ng-click="actionDeleteAvtale(text.avtale, avtale.avtaleidentifikator, avtale)" tooltip="{{text.tooltip.deleteElement}}" data-ng-show="valgtAvtale.avtaleidentifikator === avtale.avtaleidentifikator && avleveringer.length === 0">
              </button>
              {{ avtale.avtalebeskrivelse }}
            </a>
        </li>
      </ul>
    </div>

    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      <h2>{{ text.pasientsok }}</h2>
      <div class="row placeholders">
        <form class="input-group">
          <input type="text" data-ng-model="sokInput" class="form-control" placeholder="{{text.pasientsok}}...">
          <span class="input-group-btn">
            <button class="btn btn-primary" type="submit" data-ng-click="actionSok()">{{ 'common.OK' | translate }}</button>
          </span>
        </form>
      </div>
      
      <h2 class="sub-header">
        {{ 'home.AVLEVERINGER' | translate }}
        <small> {{ 'home.FOR' | translate }} {{ valgtAvtale.avtalebeskrivelse }}</small>
        <button class="right btn btn-success" data-ng-click="actionLeggTilAvlevering()" data-ng-show="valgtAvtale">
          {{ 'common.LEGG_TIL' | translate }}
        </button>
      </h2>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>{{ 'common.table.ID' | translate }}</th>
              <th>{{ 'common.table.ARKIVSKAPER' | translate }}</th>
              <th>{{ 'common.table.BESKRIVELSE' | translate }}</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr data-ng-repeat="avlevering in avleveringer">
              <td>{{ avlevering.avleveringsidentifikator }}</td>
              <td>{{ avlevering.arkivskaper }}</td>
              <td>{{ avlevering.avleveringsbeskrivelse }}</td>
              <td>
                <button class="icon icon-list" data-ng-click="actionVisAvlevering(avlevering)" tooltip="{{text.tooltip.list}}"></button>
                <button class="icon icon-padding-left icon-add-journal" data-ng-click="actionLeggTilPasientjournald(avlevering)" tooltip="{{text.tooltip.add}}"></button>
                <button class="icon icon-padding-left icon-folder" data-ng-click="actionAvleveringLeveranse(avlevering)" tooltip="{{text.tooltip.folder}}"></button>
                <button class="icon icon-padding-left icon-edit" data-ng-click="actionEndreAvlevering(avlevering)" tooltip="{{text.tooltip.endre}}"></button>
                <button class="icon icon-padding-left icon-delete" data-ng-click="actionFjernAvlevering(text.avlevering, avlevering.avleveringsidentifikator, avlevering)" tooltip="{{text.tooltip.deleteElement}}" data-ng-show="avlevering.antallPasientjournaler === 0"></button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
</div>
