<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <a href="#/" class="btn btn-default">{{'home.TILBAKE' | translate }}</a>
    <h2>{{ 'home.ADM_BRUKERE' | translate }}</h2>
    <br>
    <br>

    <div class="row">
        <div class="span span2 panel panel-default">
            <div class="panel-heading"><b>Brukere</b> <i>(Velg en i listen for å gjøre endringer)</i></div>
            <div class="panel-body">
                <div class="sokeresultat-wrapper">
                    <table class="table" ts-wrapper>
                        <thead>
                        <tr>
                            <th ts-criteria="brukernavn">{{ 'common.table.BRUKERNAVN' | translate }}</th>
                            <th ts-criteria="rollenavn">{{ 'common.table.ROLLENAVN' | translate }}</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr data-ng-repeat="bruker in brukere" ng-class="{'sokeresultat-selected':$index == selectedBrukerRow}" ng-click="velgBruker(bruker, $index)" ts-repeat>
                            <td>{{ bruker.brukernavn }}</td>
                            <td>{{ bruker.rolle.navn }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="span span5 padding-bottom">
                    <label>&nbsp;</label>
                    <button class="form-control btn btn-primary" type="submit" data-ng-click="hentBrukere()">{{ 'home.brukere.HENT' | translate }}</button>
                </div>
            </div>
        </div>
    </div>
    <form class="row input-group form-group">
        <div class="row">
            <div class="span span4 padding-bottom">
                <label>{{'common.table.BRUKERNAVN' | translate}}</label>
                <input type="text" data-ng-model="bruker.brukernavn" class="form-control" placeholder="Brukernavn">
            </div>
        </div>
        <div class="row">
            <div class="span span4 padding-bottom">
                <label>{{'home.brukere.ROLLE' | translate}}</label>
                <select class="form-control" data-ng-model="bruker.rolle" ng-options="rolle.navn for rolle in roller">
                </select>
            </div>
        </div>
        <div class="row">
            <div class="span span4 padding-bottom">
                <label>{{'common.table.PRINTER' | translate}}</label>
                <input type="text" data-ng-model="bruker.printerzpl" class="form-control" placeholder="Printer-ip">
            </div>
        </div>
        <div class="row" data-ng-show="checkError('passord')">
            <div class="span span4">
                <label id="labelPassordFeil"  data-ng-class="{error: error['passord'] !== undefined }">{{ error['passord'] }}</label>
            </div>
        </div>
        <div class="row">
            <div class="span span4 padding-bottom">
                <label id="labelPassord" data-ng-class="{error: error['passord'] !== undefined }">{{'home.brukere.PASSORD' | translate}}</label>
                <input type="checkbox" data-ng-model="bruker.resetPassword">
                {{ 'home.brukere.NYTTPASSORD' | translate }}
                </label>
                <input type="password" data-ng-model="bruker.password" class="form-control" placeholder="Passord">

            </div>
        </div>
        <div class="row">
            <div class="span span4 padding-bottom">
                <label id="labelPassordConfirm" data-ng-class="{error: error['passord'] !== undefined }">{{'home.brukere.PASSORD_BEKREFT' | translate}}</label>
                <input type="password" data-ng-model="bruker.passwordConfirm" class="form-control" placeholder="Bekreft passord">
                </label>
            </div>
        </div>
        <div class="span span5 padding-bottom">
            <label>&nbsp;</label>
            <button class="form-control btn btn-primary" type="submit" data-ng-click="oppdaterBruker()">{{ 'home.brukere.LAGRE' | translate }}</button>
        </div>
    </form>

</div>