<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <!--<context-param>
        <param-name>resteasy.providers</param-name>
        <param-value>no.arkivverket.helsearkiv.nhareg.auth.AuthSecurityInterceptor</param-value>
    </context-param>-->
   <!-- <security-constraint>
        <web-resource-collection>
            <web-resource-name>Rest-api</web-resource-name>
            <url-pattern>/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>bruker</role-name>
            <role-name>administrator</role-name>
        </auth-constraint>
        <user-data-constraint>
            <description/>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
    <login-config>
        <auth-method>FORM</auth-method>
        <form-login-config>
            <form-login-page>/login/login.html</form-login-page>
            <form-error-page>/login/login.html</form-error-page>
        </form-login-config>
    </login-config>
    <security-role>
        <role-name>administrator</role-name>
    </security-role>
    <security-role>
        <role-name>bruker</role-name>
    </security-role>-->
</web-app>
