/*
  Importer less / css biblotek og variabler
*/
@import '../../vendor/bootstrap/less/bootstrap.less';
@import 'variables.less';

/*
  Importer underliggende siders less
*/
@import '../app/home/home.less';
@import '../app/login/login.less';
@import '../app/registrering/registrering.less';
@import '../app/common/list-view/list-view.less';

/*
  Felles styles
  
  -tags
  -classes
  -ids

*/

body {
  font-family: @sansFontFamily;
  font-style: normal;
}

.navbar {
	border-bottom: 1px solid #ddd;
	background-color: #eee;
}

.loggut {
  padding-right: 40px !important;
}

.modal-header {
  background-color: @mainColor;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.modal-body {
  padding: 15px;
  padding-bottom: 0px;
  p {
    display: block;
    font-size: 14px;
    line-height: 14px;
    margin: 0px;
  }
}

.modal-footer {
}

.right {
  float: right;
}

.label-error {
  color: red;
  font-style: normal;
}

.btn-small {
  height: 24px;
  padding: 0px 7px 0px 7px;
}