/*
  Importer less / css biblotek og variabler
*/
@import '../../vendor/bootstrap/less/bootstrap.less';
@import 'variables.less';

/*
  Importer underliggende siders less
*/
@import '../app/home/home.less';
@import '../app/login/login.less';
@import '../app/registrering/registrering.less';

/*
  Felles styles
  
  -tags
  -classes
  -ids

*/

body {
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  font-style: normal;
}

.navbar {
	border-bottom: 1px solid #ddd;
	background-color: #eee;
}

.loggut {
  padding-right: 40px !important;
}