<nav class="navbar navbar-fixed-top">
    <div class="navbar-header">
      <a class="navbar-brand" href="" data-ng-click="navHome()">{{ 'common.APP_TITTEL' | translate }}</a>
    </div>
</nav>

<div class="content">
    <div class="container">
        <h3>{{ tekster.pasientsok }}</h3>
        <form class="input-group">
          <input type="text" data-ng-model="sokInput" class="form-control" placeholder="{{tekster.pasientsok}}...">
          <span class="input-group-btn">
            <button class="btn btn-primary" type="submit" data-ng-click="actionSok()">{{ 'common.OK' | translate }}</button>
          </span>
        </form>

        <h3>{{ tittel.tittel }} <small> {{ tittel.underTittel }}</small></h3>
        <div class="table-responsive">
            <table class="table table-striped table-hover" ts-wrapper>
                <thead>
                    <tr>
                        <th ts-criteria="lagringsenhet">{{'home.LAGRINGSENHET' | translate}}</th>
                        <th ts-criteria="fodselsnummer">{{'home.FNR' | translate}}</th>
                        <th ts-criteria="jnr">{{'home.JNR' | translate}}</th>
                        <th ts-criteria="lnr">{{'home.LNR' | translate}}</th>
                        <th ts-criteria="navn">{{'common.table.NAVN' | translate}}</th>
                        <th ts-criteria="faar">{{'home.FAAR' | translate}}</th>
                        <th ts-criteria="daar">{{'home.DAAR' | translate}}</th>
                        <th ts-criteria="oppdatertAv">{{'common.OPPDATERT_AV'| translate}}</th>
                        <th></th>
                        <th data-ng-show="false" ts-criteria="opprettetDato|parseFloat" ts-default="descending">tt</th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-ng-repeat="pasient in data.liste" ts-repeat>
                        <td>{{ pasient.lagringsenhet }}</td>
                        <td>{{ pasient.fodselsnummer }}</td>
                        <td>{{ pasient.jnr }}</td>
                        <td>{{ pasient.lnr }}</td>
                        <td>{{ pasient.navn }}</td>
                        <td>{{ pasient.faar }}</td>
                        <td>{{ pasient.daar }}</td>
                        <td>{{ pasient.oppdatertAv }}</td>
                        <td>
                            <button class="icon icon-edit" data-ng-click="actionVisJournal(pasient.uuid)" tooltip="{{text.tooltip.endr}}"></button>
                        </td>
                        <td>
                            <button class="icon icon-padding-left icon-delete" ng-hide="pasient.avleveringLaast" data-ng-click="actionFjernPasientjournal(pasient)" tooltip="{{tekster.tooltip.deleteElement}}"></button>
                        </td>
                        <td data-ng-show="false">{{pasient.opprettetDato}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="paging-holder">
            <div id="paging-ctrl">
                <ul class="pagination">
                    <li data-ng-repeat="i in antallSider() track by $index" data-ng-class="{active : aktivSide === $index +1}">
                        <a href="" data-ng-click="navPage($index+1)">{{$index+1}}</a>
                    </li>
                </ul>               
            </div>
        </div>
        
    </div>
</div>
