<nav class="navbar navbar-fixed-top">
    <div class="navbar-header row">
        <a class="navbar-brand" href="" data-ng-click="navHome()">{{ 'common.APP_TITLE' | translate }}</a>
        <div style="padding-top: 15px; padding-bottom: 15px; padding-right:15px">
            <a class="pull-right" disabled>Bruker: {{username}}</a>
        </div>
    </div>
</nav>
<div class="content">
    <div class="col-sm-12 col-sm-offset-0 col-md-8 col-md-offset-2 main" 
         ng-include src="'home/patient-search/patient-search-form.tpl.html'"></div>
    <div class="col-sm-12 col-sm-offset-0 col-md-8 col-md-offset-2 main" >
        <h3>{{ text.title }}
            <small>{{ text.subtitle }}</small>
        </h3>
        <button class="right icon icon-padding-left icon-add-journal"
                data-ng-click="actionAddMedicalRecordFromSearch()"
                tooltip="{{ 'home.tooltip.ADD' | translate }}">
        </button>
        <div class="table-responsive">
            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <th>
                        <a href="" data-ng-click="lagringsenhetAsc = !lagringsenhetAsc; actionSort('lagringsenhet', lagringsenhetAsc);">
                            {{'home.LAGRINGSENHET' | translate}}
                        </a>
                    </th>
                    <th>
                        <a href="" data-ng-click="fodselsnummerAsc = !fodselsnummerAsc; actionSort('fodselsnummer', fodselsnummerAsc);">
                            {{'home.FNR' | translate}}
                        </a>
                    </th>
                    <th>
                        <a href="" data-ng-click="fanearkidAsc = !fanearkidAsc; actionSort('fanearkid', fanearkidAsc);">
                            {{'home.FANEARKID' | translate}}
                        </a>
                    </th>
                    <th>
                        <a href="" data-ng-click="jnrAsc = !jnrAsc; actionSort('jnr', jnrAsc);">
                            {{'home.JNR' | translate}}
                        </a>
                    </th>
                    <th>
                        <a href="" data-ng-click="lnrAsc = !lnrAsc; actionSort('lnr', lnrAsc);">
                            {{'home.LNR' | translate}}
                        </a>
                    </th>
                    <th>
                        <a href="" data-ng-click="navnAsc = !navnAsc; actionSort('navn', navnAsc);">
                            {{'common.table.NAVN' | translate}}
                        </a>
                    </th>
                    <th>
                        <a href="" data-ng-click="faarAsc = !faarAsc; actionSort('faar', faarAsc);">
                            {{'home.FAAR' | translate}}
                        </a>
                    </th>
                    <th>
                        <a href="" data-ng-click="daarAsc = !daarAsc; actionSort('daar', daarAsc);">
                            {{'home.DAAR' | translate}}
                        </a>
                    </th>
                    <th>
                        <a href="" data-ng-click="oppdatertAvAsc = !oppdatertAvAsc; actionSort('oppdatertAv', oppdatertAvAsc);"
                        >{{'common.OPPDATERT_AV'| translate}}
                        </a>
                    </th>
                    <th></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr data-ng-repeat="record in data.liste">
                    <td>{{ record.lagringsenhet }}</td>
                    <td>{{ record.fodselsnummer }}</td>
                    <td>{{ record.fanearkid }}</td>
                    <td>{{ record.jnr }}</td>
                    <td>{{ record.lnr }}</td>
                    <td>{{ record.navn }}</td>
                    <td>{{ record.faar }}</td>
                    <td>{{ record.daar }}</td>
                    <td>{{ record.oppdatertAv }}</td>
                    <td>
                        <button class="icon icon-edit" data-ng-click="actionEditRecord(record.uuid)">
                        </button>
                    </td>
                    <td>
                        <button class="icon icon-padding-left icon-delete" ng-hide="record.avleveringLaast"
                                data-ng-click="actionRemoveMedicalRecord(record)"
                                tooltip="{{text.tooltip.deleteElement}}">
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <button class="btn btn-default" data-ng-click="navHome()">Tilbake</button>
        <div class="container">
            <div class="row">
                <div ng-view class="col-xs-2"></div>
                <div ng-view class="col-xs-8 text-center">
                    <ul class="pagination">
                        <li data-ng-class="{disabled:pager.currentPage === 1}">
                            <a data-ng-click="setPage(1)">Første</a>
                        </li>
                        <li data-ng-class="{disabled:pager.currentPage === 1}">
                            <a data-ng-click="setPage(pager.currentPage - 1)">Forrige</a>
                        </li>
                        <li data-ng-repeat="page in pager.pages" data-ng-class="{active:pager.currentPage === page}">
                            <a href="" data-ng-click="setPage(page)">{{page}}</a>
                        </li>
                        <li data-ng-class="{disabled:pager.currentPage === pager.totalPages}">
                            <a data-ng-click="setPage(pager.currentPage + 1)">Neste</a>
                        </li>
                        <li data-ng-class="{disabled:pager.currentPage === pager.totalPages}">
                            <a data-ng-click="setPage(pager.totalPages)">Siste</a>
                        </li>
                    </ul>
                </div>
                <div ng-view class="col-xs-2"></div>
            </div>
        </div>
        <br>
        <br>
    </div>
</div>