<div ng-controller="ArchiveAuthorsCtrl" class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <a href="#/" class="btn btn-default">{{'home.TILBAKE' | translate }}</a>
    <h2>{{ 'home.ADM_ARCHIVE_AUTHORS' | translate }}</h2>
    <br>
    <br>

    <div class="row">
        <div class="span span43 panel panel-default">
            <div class="panel-heading"><b>{{ 'home.ARCHIVE_AUTHORS' | translate }}</b> <i>{{ 'home.CHOOSE_FROM_LIST_TO_EDIT' | translate }}</i></div>
            <div class="panel-body">
                <div class="sokeresultat-wrapper">
                    <table class="table" ts-wrapper>
                        <thead>
                        <tr>
                            <th ts-criteria="uuid">{{ 'common.table.UUID' | translate }}</th>
                            <th ts-criteria="code">{{ 'home.CARD_CODE' | translate }}</th>
                            <th ts-criteria="name">{{ 'common.table.NAVN' | translate }}</th>
                            <th ts-criteria="description">{{ 'common.table.BESKRIVELSE' | translate }}</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr data-ng-repeat="archiveAuthor in archiveAuthors" ng-class="{ 'sokeresultat-selected':$index == selectedArchiveAuthorRow }" ng-click="selectArchiveAuthor(archiveAuthor, $index)" ts-repeat>
                            <td>{{ archiveAuthor.uuid }}</td>
                            <td>{{ archiveAuthor.code }}</td>
                            <td>{{ archiveAuthor.name }}</td>
                            <td>{{ archiveAuthor.description }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="span span5 padding-bottom">
                    <label>&nbsp;</label>
                    <button class="form-control btn btn-primary" type="submit" data-ng-click="getArchiveAuthors()">{{ 'home.brukere.HENT' | translate }}</button>
                </div>
            </div>
        </div>
    </div>
    <form class="row input-group form-group">
        <div class="row" data-ng-show="showError('code')">
            <div class="span span4">
                <label id="authorCodeError"  data-ng-class="{error: error['code'] !== undefined }">{{ error['code'] }}</label>
            </div>
        </div>
        <div class="row">
            <div class="span span4 padding-bottom">
                <label>{{'home.CARD_CODE' | translate}}</label>
                <input type="text" data-ng-model="archiveAuthor.code" class="form-control" placeholder="Kortkode">
            </div>
        </div>
        <div class="row" data-ng-show="showError('name')">
            <div class="span span4">
                <label id="authorNameError"  data-ng-class="{error: error['name'] !== undefined }">{{ error['name'] }}</label>
            </div>
        </div>
        <div class="row">
            <div class="span span4 padding-bottom">
                <label>{{'common.table.NAVN' | translate}}</label>
                <input type="text" data-ng-model="archiveAuthor.name" class="form-control" placeholder="Navn">
            </div>
        </div>
        <div class="row">
            <div class="span span4 padding-bottom">
                <label>{{'common.table.BESKRIVELSE' | translate}}</label>
                <input type="text" data-ng-model="archiveAuthor.description" class="form-control" placeholder="Beskrivelse">
            </div>
        </div>
        <div class="span span5 padding-bottom">
            <label>&nbsp;</label>
            <button class="form-control btn btn-primary" type="submit" data-ng-click="createOrUpdateAuthor()">{{ 'home.brukere.LAGRE' | translate }}</button>
        </div>
        <div class="span span5 padding-bottom">
            <label>&nbsp;</label>
            <button class="form-control btn btn-danger" type="submit" data-ng-click="deleteArchiveAuthor()" data-ng-show="!isCurrentAuthorNew">{{ 'home.brukere.DELETE' | translate }}</button>
        </div>
    </form>

</div>